

@media (min-width: 1400px)  {

    .container {
        background-color: #121212;
        padding: 12px 20px;
    }

    .item {
        background-color: #121212;
        font-size: 15px;
        cursor: pointer;
        font-family: "Inter_Bold";
        display: flex;
        align-items: center;
        gap: 24px;
        padding: 10px 8px;
        color: #b3b3b3;
        transition: all 0.4s ease;
        border: none;
        outline: none;
        &:hover {
            color: #fff;
        }
    }

    .icon {
       
    }
}