@media (min-width: 1400px) {
    .item {
        gap: 0;
        justify-content: space-between;
        margin-top: 8px;
        // color: #b3b3b3 !important;
        &:hover {
            color: unset !important;
        }
    }

    .listLibrary {

        .listLibrary_Item {
            display: flex;

            .Item_img {
                
            }

            .Item_content {

                .Content_Name {

                }

                .Content_Author {

                }

            }
        }
    }
    // .filter {
    //     font-size: 24px;
    // }
}
